<template>
  <div class="signup">
    <SignUpForm v-if="formState === 'signUp'" />
    <SignUpConfirmForm v-if="formState === 'confirm'" />
  </div>
</template>

<script>
import SignUpForm from "@/components/SignUpForm.vue"
import SignUpConfirmForm from "@/components/SignUpConfirmForm.vue"

export default {
  name: "SignUp",
  components: {
    SignUpForm,
    SignUpConfirmForm
  },
  data() {
    return {
      formState: "signUp",
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
