<template>
  <div class="signupform">
    <b-container>
      <b-row>
        <b-col sm="9" md="7" lg="5" class="mx-auto">
          <b-card class="card-signup">
            <h5 class="card-title text-center">Sign Up</h5>
            <div class="error" v-if="error">{{ error }}</div>
            <b-form
              class="form-signup"
              @submit="onSubmit"
              @reset="onReset"
            >
              <b-form-group class="form-label-group">
                <b-form-input
                  id="input-email"
                  v-model="form.email"
                  type="email"
                  placeholder="Email address"
                  v-bind:required="true"
                  v-bind:autofocus="true"
                ></b-form-input>
                <label for="input-email">Email address</label>
              </b-form-group>
              <b-form-group class="form-label-group">
                <b-form-input
                  id="input-password"
                  v-model="form.password"
                  type="password"
                  placeholder="Password"
                  v-bind:required="true"
                ></b-form-input>
                <label for="input-password">Password</label>
              </b-form-group>
              <b-form-group class="form-label-group">
                <b-form-input
                  id="input-password-confirm"
                  v-model="form.passwordconfirm"
                  type="password"
                  placeholder="Password"
                  v-bind:required="true"
                ></b-form-input>
                <label for="input-password-confirm">Confirm password</label>
              </b-form-group>
              <b-button
                type="submit"
                variant="primary"
                class="btn-lg btn-block text-uppercase"
              >Sign up</b-button>
              <hr />
              <b-button type="submit" class="btn btn-lg btn-google btn-block text-uppercase">
                <i class="fab fa-google mr-2"></i>Sign up with Google
              </b-button>
              <b-button type="submit" class="btn btn-lg btn-facebook btn-block text-uppercase">
                <i class="fab fa-facebook mr-2"></i>Sign up with Facebook
              </b-button>
            </b-form>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { Auth } from "aws-amplify";

export default {
  name: "SignUpForm",
  data() {
    return {
      error: "",
      form: {
        password: "",
        passwordconfirm: "",
        email: ""
      }
    };
  },
  methods: {
    async onSubmit(e) {
      e.preventDefault();

      this.error = "";
      const { email, password, passwordconfirm } = this.form;
      const regex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})");

      if (password !== passwordconfirm) {
        this.error = "Passwords do not match";
        return;
      }

      if (!regex.test(password)) {
        this.error =
          "Password must contain at least one uppercase character, at least one lowercase character, and at least one numerical character, and it must be at least 8 characters long.";
        return;
      }

      await Auth.signUp({
        username: email,
        password: password,
        attributes: { email }
      })
        .then(() => {
          this.formState = "confirm";
        })
        .catch(err => {
          this.error = err.message;
        });
    },
    async onSubmitConfirmation(e) {
      console.log("hi");
    },
    onReset() {
      return;
    }
  }
};
</script>

<style scoped lang="scss">
$input-padding-x: 1.5rem;
$input-padding-y: 0.75rem;

.error {
  font-size: 80%;
  margin-left: 1.5rem;
  color: red;
}
.card-signup {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  max-width: 540px;
  text-align: left;
}

.card-signup .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signup .card-body {
  padding: 2rem;
}

.form-signup {
  width: 100%;
}

.form-signup .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
  padding: $input-padding-x $input-padding-y;
}

.form-label-group > * > input,
.form-label-group > * > label {
  padding: $input-padding-y $input-padding-x;
}

.form-label-group > * > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: $input-padding-y + $input-padding-y * (2 / 3);
  padding-bottom: $input-padding-y / 3;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: $input-padding-y / 3;
  padding-bottom: $input-padding-y / 3;
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}
</style>